
* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #bdc2c9;         /* dark purple/gray base, matches bar */
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    border-color: black;       /* bright blue accent, like wifi icon */
    color: white;              /* light text for readability */
    padding: 5px 7px;            /* shorter, cleaner padding shorthand */
}


#window,
#network,
#clock,
#bluetooth,
#pulseaudio,
#workspaces,
#battery {
    background: #1e1e2e;
    opacity: 1.0;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

/*Left pannel*/

/*Workspaces*/

#workspaces {
    background: #1e1e2e;
    border-radius: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

#workspaces button {
    color: #585b70; /* empty/default */
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 0;
}


/*color: #cdd6f4;       light text */

#workspaces button.empty {
    color: #585b70; /* muted gray */
}

#workspaces button.active,
#workspaces button.visible {
    color: #e8f558; /* teal for visible but not active */
    box-shadow: inset 0 -1px #1e1e2e;
}

/* Clock */
#clock {
    color: #a6e3a1;
    border-radius: 13px;
    margin-right: 0px;
    margin-left: 0px;
}

/* Right pannel*/
/* Batery */
#battery {
    color: #a6e3a1;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#battery.charging {
    color: #26A65B;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#battery.warning {
    color: #fab387;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#battery.critical {
    color: #f53c3c;
    border-radius: 0px 0px 0px 0px;
    margin-right: 0px;
    margin-left: 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Network */
#network {
    color: #cba6f7;
    border-radius: 13px 0px 0px 13px;
    margin-right: 0px;
}

/* Bluetooth */
#bluetooth {
  color: #74c7ec;
  border-radius: 0px 0px 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
} 

/* Audio */
#pulseaudio {
  color: #f9e2af;
  border-radius: 0px 13px 13px 0px;
  margin-right: 5px;
  margin-left: 0px;
}


